#background {
    background-image: url(scene.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: 750px;
}

#road {
    background-image: url(road.jpg);
}

#car {
    width: 150px;
}

#btn {
    background-color: yellow;
    max-width: 100px;
    width: 100%;
    font-size: 30px;
    margin-top: 30px;
}

#dbtn {
    display: flex;
    justify-content: center;
    align-items: center;
}